@model IEnumerable<NLCS3.Models.BOMON>

@{
    ViewBag.Title = "list_bomon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>list_bomon</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BM_MA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.K_MA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BM_TEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BM_MA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.K_MA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BM_TEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
